[submodule "blingbling"]
	path = blingbling
	url = https://github.com/cedlemo/blingbling.git
[submodule "blind"]
	path = blind
	url = https://github.com/Elv13/blind.git
[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical.git
[submodule "awesome-leaved"]
	path = awesome-leaved
	url = https://github.com/michaelbeaumont/awesome-leaved.git
[submodule "treesome"]
	path = treesome
	url = https://github.com/RobSis/treesome.git
[submodule "forgotten"]
	path = forgotten
	url = https://github.com/Elv13/forgotten.git
