[submodule "blingbling"]
	path = blingbling
	url = ./blingbling
[submodule "blind"]
	path = blind
	url = ./blind
[submodule "revelation"]
	path = revelation
	url = ./revelation
[submodule "treesome"]
	path = treesome
	url = https://github.com/RobSis/treesome.git
