[submodule "blingbling"]
	path = blingbling
	url = https://github.com/cedlemo/blingbling.git
[submodule "blind"]
	path = blind
	url = https://github.com/Elv13/blind.git
[submodule "treesome"]
	path = treesome
	url = https://github.com/RobSis/treesome.git
[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical.git
